body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 10px rgba(79, 88, 178, 0.25));
}

.container {
    max-width: 1440px;
}

.logo {
    text-transform: uppercase;
    color: #6A75CA;
    margin: 25px 165px 25px 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

}

.heading_list {
    display: flex;
    margin: 35px 565px 35px 0;
}

.headin__item {
    margin: 0 50px 0 0;
}

.headin__item:hover {
    color: #6A75CA;
}

.main {
    background: #E5E5E5;
    height: auto;
    display: flex;
    height: auto;
   
}


.main__container {
    flex: 1 1 auto;
    margin: 0 0 0 50px;
    width: 1100px;

}

.sidebar {
    height: 2400px;
    background: #6A75CA;
    flex: 0 0 240px;
    align-self: flex-start;
   
    
}


.sidebar_list {
    text-transform: uppercase;
    color: #fff;
    margin: 30px 0;
    line-height: 32px;
    list-style-type: none;
}
.sidebar_list>li:hover{
    list-style-type:disc;
}
.paragraph {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

.line {
    display: inline-block;
    width: 105%;
    height: 1px;
    background: #000;
    margin: 0 0 25px -50px;
}

.info__block {
    height: auto;
    flex: 1 1 auto;
    background: #6A75CA;
    display: flex;
    align-items: center;
    clip-path: polygon(0% 0%, 91% 0, 100% 40%, 100% 100%, 0 100%);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.text__block {
    height: auto;
    flex: 0 1 300px;
    line-height: 21px;
    color: #fff;


}

.info__text {
    line-height: 21px;
}

.info_img {
    margin: 50px 32px;
}




.main__navigation {
    height: 96px;
    max-width: 1100px;
    margin: 30px 0 50px 50px;
    padding: 2px 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}

.navigation__list {
    margin: 0;
    padding: 0 60px;
    text-align: right;
}



.nav__item{
    display: inline-block;
    position: relative;
    padding: 30px 25px 29px 25px;
    margin: 0 20px 0 25px;
    background-color: #ffffff;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
}

.nav__item:hover {
    opacity: 0.7;
}

.item__text ::after {
    position: absolute;
    top: 0;
    left: 100%;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 48px 25px;
    border-color: transparent transparent transparent #fff;
}

.item__text {
    vertical-align: top;
    text-decoration: none;
    color: #000000;
}

.item__text::after {
    position: absolute;
    left: -25px;
    top: 0px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 48px 0;
    border-color: transparent #ffffff transparent transparent;
}

.item__text::before {
    position: absolute;
    left: -25px;
    top: 48px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 48px 25px;
    border-color: transparent transparent #ffffff transparent;
}




.item__text {}




.fieldset_border {
    border: 1px solid #4F58B2;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 1100px;
    margin: 0 0 35px 50px;
    padding: 0 16px 16px 16px;
}

.contant__box {
    margin: 0 auto;
}

.contant__text {
    background: #fff;
    clip-path: polygon(0% 0%, 95% 0, 100% 5%, 100% 100%, 0% 100%);
    border-radius: 8px;

}

.text__on {
    width: 300px;
    flex: 1 1 auto;
    margin: 16px 50px;
    color: #7D868E;
    padding: 8px 0;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Courier New', Courier, monospace;
}

legend {
    color: #FFC806;
}

code {
    color: #7D868E;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Courier New', Courier, monospace;
}