body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.wrapper {
margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 10px rgba(79, 88, 178, 0.25));
}

.container {
    max-width: 1440px;
}

.logo {
    text-transform: uppercase;
    color: #6A75CA;
    margin: 25px 165px 25px 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

}

.heading_list {
    display: flex;
    margin: 35px 565px 35px 0;
}

.headin__item {
    margin: 0 50px 0 0;
}

.headin__item:hover {
    color: #6A75CA;
}

.main {
    background: #E5E5E5;
    height: auto;
    display: flex;
}


.main__container {
    flex: 1 1 auto;
    margin: 0 0 0 50px;
    width: 1100px;

}

.sidebar {
    background: #6A75CA;
    flex: 0 0 240px;
    align-self: flex-start;
    height: 100vh;
}

.sidebar_list {
    text-transform: uppercase;
    color: #fff;
    margin: 30px 0;
    line-height: 32px;
}



.paragraph {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

.line{
    display: inline-block;
    width: 105%;
    height: 1px;
    background: #000;
    margin: 0 0 25px -50px;
}

.info__block{
    height: auto;
    flex: 1 1 auto;
    background: #6A75CA;
    display: flex;
    align-items: center;
    clip-path: polygon(0% 0%, 91% 0, 100% 40%, 100% 100%, 0 100%);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 0 30px;
}


.text__block{
  height: auto;
  flex: 0 1 300px;
  line-height: 21px;
  color:#fff;

      
}
.info__text{
    line-height: 21px;
}

.info_img{
  margin: 50px 32px;
}




.main__navigation{
margin: 30px 0 50px 50px;

}
.navigation__list{
    display: flex;
    
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}
.first{
    margin: 0 0 0 220px;

}

.nav__item{
    background:#fff;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
}



.item__text{
    display: block;
    text-transform:uppercase;
    color:#000;
    font-size: 32px;
    margin: 30px 50px;
   }
