
* {
    box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Poppins', sans-serif;

}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

.container {
    max-height: 1440px;
    margin: 0 auto
}

.general {
    background: #e5e5e5;
    padding: 100px 0 120px 0
}

.general__box-mini {
    display: flex;
    justify-content: center
}

.general__box-mini:nth-child(2) {
    margin: 0 38px
}

.general__items {
    width: 240px;
    height: 240px;
    clip-path: polygon(70% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
    border-radius: 8px;
    background: #fff;
    color: #7d868e;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    font-family: Courier;
    font-style: 400;
    padding: 32px;
    margin: 0 19px;
    box-shadow: 0 4px 10px rgba(79, 88, 178, .25);
    white-space: break-spaces
}

.general__items:nth-of-type(1) {
    background: #6a75ca;
    color: #fff
}

.general__items-big {
    width: 796px;
    margin-top: 48px;
    clip-path: polygon(90% 0, 100% 30%, 100% 100%, 0 100%, 0 0)
}

.general__box-big {
    display: flex;
    align-items: center;
    flex-direction: column
}

.subtitle {
    color: #131320;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    margin-bottom: 100px;
    text-align: center
}

.header {
    padding: 0 0 0 48px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 4px 4px rgba(79, 88, 178, .25);
    margin-bottom: 4px
}

.logo {
    margin: 24px 165px 24px 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-family: Helvetica;
    text-transform: uppercase;
    color: #6a75ca
}

.menu {
    display: flex;
    align-items: center
}

.menu__items {
    margin-right: 47px;
    color: #131320;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    cursor: pointer
}